<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Nexo - | Cart</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">


    {{!-- links from home page --}}

    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">


    {{!-- stylesheet section link --}}
    <link rel="stylesheet" href="/stylesheets/core-style.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    {{!--
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> --}}
    <link rel="stylesheet" href="/stylesheets/bootstrap.min1.css">

    {{!--
    <link rel="stylesheet" href="/stylesheets/forget.css"> --}}
    {{!--
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css"> --}}

    {{!--
    <link rel="stylesheet" href="/stylesheets/login.css"> --}}
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">

    <link rel="stylesheet" href="/stylesheets/nouislider.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    {{!--
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/themify-icons.css"> --}}
    <link rel="stylesheet" href="/stylesheets/mainatin.css">

</head>

<body>


    <div id="wrapper">

        <!-- Top Header Area End -->
        <div class="main_header_area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 d-md-flex justify-content-between">
                        <!-- Header Social Area -->
                        <div class="header-social-area">
                            <a href="#"><img src="img/logo/1.png" style="width:150px; height:80px;" alt="Nexo"></a>
                        </div>
                        <!-- Menu Area -->
                        <div class="main-menu-area">
                            <nav class="navbar navbar-expand-lg align-items-start">

                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false"
                                    aria-label="Toggle navigation"><span class="navbar-toggler-icon">
                                        <i class="ti-menu-3-lines"></i>
                                    </span></button>
                                <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                    <ul class="navbar-nav animated" id="nav">
                                        <li class="nav-item active"><a class="nav-link" href="/home"> Home</a></li>
                                        <li class="nav-item dropdown">
                                        <li class="nav-item active"><a class="nav-link" href="/mobile">Mobiles</a></li>
                                        <li class="nav-item active"><a class="nav-link" href="/laptop"> Laptops</a></li>
                                        <li class="nav-item active"><a class="nav-link" href="/shop-page">SHOP</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/order-details">Orders</a></li>
                                        <li class="nav-item active"><a class="nav-link" href="/cart">Cart<i
                                                    class="ti-bag"></i> </a>
                                        <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>

                                        {{#if is_login}}
                                        <div class="help-line hide-on-laptop">
                                            <a href="/logout">LOGOUT</a>
                                        </div>
                                        {{else}}
                                        <div class="help-line hide-on-laptop">
                                            <a href="/logout">LOGOUT</a>
                                        </div>
                                        {{/if}}
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Help Line -->
                        {{#if is_login}}
                        <div class="help-line hide-on-small-laptop">
                            <a href="/logout">LOGOUT</a>
                        </div>
                        {{else}}
                        <div class="help-line hide-on-small-laptop">
                            <a href="/logout">LOGOUT</a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        </header>







        <!-- ****** Top Discount Area Start ****** -->
        <section class="top-discount-area d-md-flex align-items-center">
            <!-- Single Discount Area -->

            <div class="single-discount-area">
                <h5>Free Shipping &amp; Returns With Full Cash-Back</h5>
                <h6><a href="/cart">BUY NOW</a></h6>
            </div>

            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>20% Discount for all Products</h5>
                <h6>USE CODE:#Coupon-22 <span>[1 Time offer]</span></h6>
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>Purshase Above ₹2,00,000 & get 40% Discount</h5>
                {{!-- <h5>Purshase Above ₹2,00,000 & get 40% Upto ₹1,00,000 </h5> --}}
                <h6>USE CODE: #₹₹Nexo$$</h6>
            </div>

        </section>
        <!-- ****** Top Discount Area End ****** -->

        <!-- ****** Cart Area Start ****** -->

        {{#if products}}



        <div class="cart_area section_padding_100 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                    <tr>
                                        <td class="cart_product_img d-flex align-items-center">
                                            <a href="/product-details?id={{this.id}}"><img src="/uploads/{{images.[0]}}"
                                                    alt="Image"></a>
                                            <h6>{{this.productname}}</h6>
                                        </td>
                                        <td class="price"><span>₹{{this.price}}</span></td>
                                        <td class="qty">
                                            <div class="quantity">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-outline-secondary" id="decrementBtn"
                                                        onclick="changeQuantity('{{this._id}}', -1, '{{this.user_id}}', {{this.quantity}})">-</button>
                                                </div>
                                                <input type="text" class="form-control text-center"
                                                    id="quantityInput_{{this._id}}" value="{{this.quantity}}" min="1"
                                                    style="width: 44px;">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" id="incrementBtn"
                                                        onclick="changeQuantity('{{this._id}}', 1, '{{this.user_id}}', {{this.quantity}})">+</button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="total" id="productTotal_{{this._id}}">
                                            <span class="productTotal">{{total}}</span>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>

                        <div class="cart-footer d-flex mt-30">
                            <div class="back-to-shop w-50 d-flex ">
                                <a href="/home">Continue shopping</a>
                            </div>
                            <div class="back-to-shop w-50 text-right">
                                <a href="/wallet-details">Wallet Balance</a>
                            </div>

                            {{!-- <div class="back-to-shop w-50 text-right">
                                <a href="/wallet-details">Check Wallet</a>
                                <a href="#">Update cart</a>
                            </div> --}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-4 mx-auto"> <!-- Added mx-auto class -->
                        <div class="cart-total-area mt-70">
                            <div class="cart-page-heading">
                                <h5 style="text-align: center;">Cart total</h5>
                                <p style="text-align: center;">Final info</p>
                            </div>
                            <ul class="cart-total-chart">
                                <li>
                                    <span>Subtotal</span>
                                    <span id="summary-subtotal">₹{{subtotal}}</span>
                                </li>
                                <li>
                                    <span>Shipping</span>
                                    <span>Free</span>
                                </li>
                                <li>
                                    <span><strong>Total</strong></span>
                                    <span>
                                        <strong>
                                            ₹{{total}}
                                        </strong>
                                    </span>
                                </li>
                            </ul>

                            <a href="/checkout?id={{this.id}}" class="btn karl-checkout-btn ">Proceed to checkout</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>




        {{else}}

        <div class="empty-cart-area section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="empty-cart-content" style="text-align: center;">
                            <br>
                            <br>
                            <img src="/img/core-img/empty-cart.jpg" alt="Empty Cart ">
                            <br>
                            <h4>Please add some products to your cart before checking out.</h4>
                            <br>
                            <br>
                            <div class="empty-cart-btn">
                                <a href="/home" class="btn karl-checkout-btn"
                                    style="background-color: crimson;">Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}













        {{!-- footer section from home page --}}
        <footer class="footer_area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_footer_area">
                            <div class="footer-logo">
                                {{!-- <ul>Hi,there we are</ul> --}}
                                <img src="img/core-img/logo.png" alt="">

                            </div>
                            {{!-- <div class="copywrite_text d-flex align-items-center">
                                <p>WE the Nexo Group are the top selling Platform in lead online selling sites, almost
                                    all Countries</p>
                            </div> --}}
                        </div>
                    </div>





                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">About</a></li>
                                {{!-- <li><a href="#">Blog</a></li> --}}
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Our Policies</a></li>
                                <li><a href="#">Afiliates</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-lg-5">
                        <div class="single_footer_area">
                            <div class="footer_heading mb-30">
                                <h6>Hi,there we are Nexo Group</h6>

                                <div class="subscribtion_form">
                                    <form action="#" method="post">
                                        <input type="email" name="mail" class="mail" placeholder="Your email here">
                                        <button type="submit" class="submit">Subscribe</button>
                                    </form>
                                </div>
                                <div class="copywrite_text d-flex align-items-center">
                                    <p>We the Nexo Group, are the top selling Platform in online selling sites almost in
                                        all Countries for Last 6 years.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>



                {{!-- Footer Bottom Area Start --}}
                <div class="footer_bottom_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer_social_area text-center">
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ****** Footer Area End ****** -->
    </div>


    </div>







    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function changeQuantity(proId, count, userId, quantity) {
            $.ajax({
                url: "/change-product-quantity",
                method: "post",
                data: {
                    productId: proId,
                    count: count,
                    userId: userId,
                    quantity: quantity,
                },
                success: (response) => {
                    console.log(response);
                    if (response.deleteProduct) {
                        location.reload(); // Reload the page
                    }
                    else if (response.outOfStock) {
                        console.log("out of stock");
                        showOutOfStockAlert();
                    }
                    else {
                        console.log(response, 'ajax response');
                        const quantityInput = document.getElementById(`quantityInput_${proId}`);
                        quantityInput.value = response.quantity;

                        const productTotalElement = $('#productTotal_' + proId).find('.productTotal');
                        productTotalElement.text(response.productTotal);

                        const productTotal = document.querySelector(`#productTotal_${proId}`);
                        productTotal.textContent = response.productTotal;

                        const subtotal = document.getElementById(`summary`);
                        subtotal.textContent = response.subtotal;

                        const summarySubtotal = document.getElementById(`summary-subtotal`);
                        summarySubtotal.textContent = response.subtotal;
                    }
                },
                error: (xhr, status, error) => {
                    swal("Error", "An error occurred while changing the product quantity.", "error");
                    console.error(xhr.responseText);
                }
            });
        }


        function showOutOfStockAlert() {
            Swal.fire({
                title: "Out of Stock",
                text: "This product is currently out of stock.",
                icon: "warning",
                showCancelButton: false,
                confirmButtonColor: "#000000",
                confirmButtonText: "OK",
                customClass: {
                    container: "swal-container",
                    title: "swal-title",
                    text: "swal-text",
                    confirmButton: "swal-button"
                },
                onOpen: () => {
                    // Set the text color to white
                    const swalContainer = document.querySelector(".swal-container");
                    swalContainer.style.color = "white";

                    // Remove the border from the OK button
                    const okButton = document.querySelector(".swal-button");
                    okButton.style.border = "none";
                }
            });
        }
    </script>








    <!-- /.wrapper end -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>