<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <title>Nexo - | Profile Page</title>

  <!-- Favicon  -->
  <link rel="icon" href="img/core-img/favicon.ico">

  <!-- Core Style CSS -->
  <link rel="stylesheet" href="css/core-style.css">
  <link rel="stylesheet" href="style.css">

  <!-- Responsive CSS -->
  <link href="css/responsive.css" rel="stylesheet">


  {{!-- links from home page --}}

  <link rel="icon" href="img/core-img/favicon.ico">

  <!-- Core Style CSS -->
  <link rel="stylesheet" href="css/core-style.css">
  <link rel="stylesheet" href="style.css">

  <!-- Responsive CSS -->
  <link href="css/responsive.css" rel="stylesheet">


  {{!-- stylesheet section link --}}
  <link rel="stylesheet" href="/stylesheets/core-style.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  {{!--
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.min1.css">

  {{!--
  <link rel="stylesheet" href="/stylesheets/forget.css"> --}}
  {{!--
  <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css"> --}}

  {{!--
  <link rel="stylesheet" href="/stylesheets/login.css"> --}}
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css">

  <link rel="stylesheet" href="/stylesheets/nouislider.css">
  <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
  <link rel="stylesheet" href="/stylesheets/responsive.css">
  {{!--
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/themify-icons.css"> --}}
  <link rel="stylesheet" href="/stylesheets/mainatin.css">

</head>

<body>

  <div id="wrapper">

    <!-- Top Header Area End -->
    <div class="main_header_area">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 d-md-flex justify-content-between">
            <!-- Header Social Area -->
            <div class="header-social-area">
              <a href="#"><img src="img/logo/1.png" style="width:150px; height:80px;" alt="Nexo"></a>
            </div>
            <!-- Menu Area -->
            <div class="main-menu-area">
              <nav class="navbar navbar-expand-lg align-items-start">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar"
                  aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon">
                    <i class="ti-menu-3-lines"></i>
                  </span></button>
                <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                  <ul class="navbar-nav animated" id="nav">
                    <li class="nav-item active"><a class="nav-link" href="/home"> Home</a></li>
                    <li class="nav-item dropdown">
                    <li class="nav-item active"><a class="nav-link" href="/mobile">Mobiles</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/laptop"> Laptops</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/shop-page">SHOP</a></li>
                    <li class="nav-item"><a class="nav-link" href="/order-details">Orders</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/cart">Cart<i class="ti-bag"></i> </a>
                    <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>

                    {{#if is_login}}
                    <div class="help-line hide-on-laptop">
                      <a href="/logout">LOGOUT</a>
                    </div>
                    {{else}}
                    <div class="help-line hide-on-laptop">
                      <a href="/logout">LOGOUT</a>
                    </div>
                    {{/if}}
                  </ul>
                </div>
              </nav>
            </div>
            <!-- Help Line -->
            {{#if is_login}}
            <div class="help-line hide-on-small-laptop">
              <a href="/logout">LOGOUT</a>
            </div>
            {{else}}
            <div class="help-line hide-on-small-laptop">
              <a href="/logout">LOGOUT</a>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    </header>






    <!-- ****** Top Discount Area Start ****** -->
    <section class="top-discount-area d-md-flex align-items-center">
      <!-- Single Discount Area -->

      <div class="single-discount-area">
        <h5>Free Shipping &amp; Returns With Full Cash-Back</h5>
        <h6><a href="/cart">BUY NOW</a></h6>
      </div>

      <!-- Single Discount Area -->
      <div class="single-discount-area">
        <h5>20% Discount for all Products</h5>
        <h6>USE CODE:#Coupon-22 <span>[1 Time offer]</span></h6>
      </div>
      <!-- Single Discount Area -->
      <div class="single-discount-area">
        <h5>Purshase Above ₹2,00,000 & get 40% Discount</h5>
        {{!-- <h5>Purshase Above ₹2,00,000 & get 40% Upto ₹1,00,000 </h5> --}}
        <h6>USE CODE: #₹₹Nexo$$</h6>
      </div>

    </section>
    <!-- ****** Top Discount Area End ****** -->

    <body>
      <div class="main-content" style="background-color: #f0f0f0; padding: 20px;">
        <!-- Top navbar -->

        {{#if userData}}
        <div style="padding-top: 20px; padding-bottom: 20px;">
          <a href="#editProfileModal" class="btn btn-info" data-toggle="modal">Edit profile</a>
        </div>

        <div class="container-fluid mt--7" style="padding-top: 20px; padding-bottom: 20px;">
          <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
              <div class="card card-profile shadow" style="border: none;">
                <div class="row justify-content-center">
                  <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                      <a href="#">
                        <img src="/userImage/{{userData.image}}" type="file" accept="image/*"
                          alt="Please Update Profile Pic " class="oval-circle"
                          style="width: 150px; height: 150px; object-fit: cover; ">
                      </a>
                    </div>
                  </div>
                </div>
                {{!-- passing the json message --}}
                {{!-- <div id="json-message-container"></div> --}}
                {{#if message}}
                {{message}}
                {{/if}}

                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                  <div class="d-flex justify-content-between">
                    <a href="/order-details" class="btn btn-sm btn-info mr-4">Orders</a>
                    <a href="/wallet-details" class="btn btn-sm btn-info mr-4 float-right">Wallet</a>
                  </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                  <div class="row">
                    <div class="col">
                      <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                        <div>
                          <span class="heading"></span>
                          <span class="description"></span>
                        </div>
                        <div>
                          <span class="heading"></span>
                          <span class="description"></span>
                        </div>
                        <div>
                          <span class="heading"></span>
                          <span class="description"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <h2>HELLO, {{userData.name}}</h2>
                    <br>
                    <h3>
                      <span class="font-weight-light">
                        <h5>We are Happy that you are Shopping with us..</h5>
                      </span>
                    </h3>
                    <div class="h5 font-weight-300">
                      <i class="ni location_pin mr-2"></i>{{defaultAddress.state}}
                    </div>
                    <div class="h5 mt-4">
                      <i class="ni business_briefcase-24 mr-2">
                        <p>Nexo — We are the top trending place where people from different places shop with us. </p>
                        <p>Contact Us on - tomailabin@gmail.com</p>
                        <p>PH: 6235095693 , 8943656929</p>
                        {{!-- <a href="#">Show more</a> --}}
                      </i>
                    </div>
                    <div>
                      <i class="ni education_hat mr-2"></i>
                    </div>
                    <hr class="my-4">
                    {{!-- <p>Nexo — We are the top trending place where people from different places shop with us. </p>
                    <a href="#">Show more</a> --}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8 order-xl-1">
              <div class="card bg-secondary shadow" style="border: none;">
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">My account</h3>
                    </div>
                    <div class="col-4 text-right">
                      <a href="/address" class="btn btn-sm btn-primary">Manage address</a>
                    </div>
                  </div>
                </div>
                <div class="card-body" style="text-decoration: aliceblue;">
                  <form>
                    <h6 class="heading-small text-muted mb-4">User information</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused" style="text-decoration: aliceblue;">
                            <label class="form-control-label" for="input-username">Username</label>
                            <input type="text" id="input-username" class="form-control form-control-alternative"
                              placeholder="Username" value="{{userData.name}}" readonly>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-email">Email address</label>
                            <input type="email" id="input-email" class="form-control form-control-alternative"
                              placeholder="{{userData.email}}" readonly>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-first-name">Phone Number</label>
                            <input type="text" id="input-first-name" class="form-control form-control-alternative"
                              placeholder="First name" value="{{userData.mobile}}" readonly>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-4">
                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-4">Contact information</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-address">Address</label>
                            <input id="input-address" class="form-control form-control-alternative"
                              placeholder="address" value="{{defaultAddress.[0].address}}" type="text" readonly>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-city">City</label>
                            <input type="text" id="input-city" class="form-control form-control-alternative"
                              placeholder="city" value="{{defaultAddress.[0].city}}" readonly>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-country">state</label>
                            <input type="text" id="input-country" class="form-control form-control-alternative"
                              placeholder="state" value="{{defaultAddress.[0].state}}" readonly>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-country">Postal code</label>
                            <input type="text" id="input-postal-code" class="form-control form-control-alternative"
                              placeholder="pincode" value="{{defaultAddress.[0].pincode}}" readonly>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      {{#if userData}}

      <!-- Modal -->
      <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Form to edit profile -->
              <form action="/profile" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="edit-username">Image</label>
                  <input type="file" class="form-control" name="image" id="edit-username" accept='image/*'>
                </div>
                <div class="form-group">
                  <label for="edit-username">Username</label>
                  <input type="text" class="form-control" name="name" id="edit-username" value="{{userData.name}}">
                </div>
                <div class="form-group">
                  <label for="edit-email">Email</label>
                  <input type="email" class="form-control" name="email" id="edit-email" value="{{userData.email}}">
                </div>
                <div class="form-group">
                  <label for="edit-phone">Phone Number</label>
                  <input type="text" class="form-control" name="mobile" id="edit-phone" value="{{userData.mobile}}">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
    </body>


    <!-- Core -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>




    {{!-- footer section from home page --}}
    <footer class="footer_area">
      <div class="container">
        <div class="row">
          <!-- Single Footer Area Start -->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="single_footer_area">
              <div class="footer-logo">
                {{!-- <ul>Hi,there we are</ul> --}}
                <img src="img/core-img/logo.png" alt="">

              </div>
              {{!-- <div class="copywrite_text d-flex align-items-center">
                <p>WE the Nexo Group are the top selling Platform in lead online selling sites, almost all Countries</p>
              </div> --}}
            </div>
          </div>








          <!-- Single Footer Area Start -->
          <div class="col-12 col-sm-6 col-md-3 col-lg-2">
            <div class="single_footer_area">
              <ul class="footer_widget_menu">
                <li><a href="#">About</a></li>
                {{!-- <li><a href="#">Blog</a></li> --}}
                <li><a href="#">Faq</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <!-- Single Footer Area Start -->
          <div class="col-12 col-sm-6 col-md-3 col-lg-2">
            <div class="single_footer_area">
              <ul class="footer_widget_menu">
                <li><a href="#">My Account</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Our Policies</a></li>
                <li><a href="#">Afiliates</a></li>
              </ul>
            </div>
          </div>
          <!-- Single Footer Area Start -->
          <div class="col-12 col-lg-5">
            <div class="single_footer_area">
              <div class="footer_heading mb-30">
                <h6>Hi,there we are Nexo Group</h6>

                <div class="subscribtion_form">
                  <form action="#" method="post">
                    <input type="email" name="mail" class="mail" placeholder="Your email here">
                    <button type="submit" class="submit">Subscribe</button>
                  </form>
                </div>
                <div class="copywrite_text d-flex align-items-center">
                  <p>We the Nexo Group, are the top selling Platform in online selling sites almost in all Countries for
                    Last 6 years.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line"></div>



        {{!-- Footer Bottom Area Start --}}
        <div class="footer_bottom_area">
          <div class="row">
            <div class="col-12">
              <div class="footer_social_area text-center">
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- ****** Footer Area End ****** -->
  </div>







  </div>
  <!-- /.wrapper end -->

  <!-- jQuery (Necessary for All JavaScript Plugins) -->
  <script src="js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Plugins js -->
  <script src="js/plugins.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>

</body>

</html>